{% extends 'base.html' %} <!--наследуемся от файла-->

{% block title %}
Редактирование статьи
{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Редактирование статьи</h1>
    <form method="post">
        <input type="text" name="title" id="title" class="form-control" value="{{ article.title }}" placeholder="Заголовок статьи">
        <br>
        <textarea name="intro" id="intro" class="form-control" placeholder="Интро статьи">{{ article.intro }}</textarea>
        <br>
        <textarea name="text" id="text" class="form-control" placeholder="Текст статьи">{{ article.text }}</textarea>
        <br>
        <input type="submit" class="btn btn-success" value="Внести изменения">
    </form>
</div>


{% endblock %}
